{% extends 'reset_password/resetbase.html' %}
{% block title %}Matadan | Reset Password{% endblock title %} 
{%block body %}
    {% load crispy_forms_tags %}
    <div class="container mt-5 text-center">
        <h1 class="mb-4 text-center">Reset Password</h1>
        <form class="container mb-5" method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="height: auto; maxwidth:auto;">
                {{form|crispy}}
                <input type="submit" value="Set Password" class="btn btn-danger m-4">
            </div>
            <div class="col-md-4">

            </div>
            </div>
        </form>

    </div>
{% endblock body %}
