{% extends 'reset_password/resetbase.html' %}
{% block title %}Matadan | Reset Password{% endblock title %} 
{%block body %}
    {% load crispy_forms_tags %}
<div class="container mt-5 text-center">

    <h1 class="mb-4">Password Reset</h1>

    <p>
        Enter your <b>Email Address</b> that you used to register. We'll send you an email with your username and a link to reset your password.
    </p>

    <form class="container mb-5" method="post">
    {% csrf_token %}
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="height: auto; maxwidth:auto;">
        {{form|crispy}}
        <input type="submit" value="Send Email" class="btn btn-danger m-4">
    </div>
    <div class="col-md-4"></div>
    </div>
    </form>  
</div>
{% endblock body %}
