@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

html, body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: visible;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}
a:hover {
    color: #e74c3c;
}
ul {
    list-style-type: none;
}


/*--- Navbar Css ---*/


.navbar {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar .navbar-bran a {
    padding: 1rem 0;
    display: block;
    text-decoration:none;
}
.navbar-bran{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #e74c3c;
}
.navbar-expand-md .navbar-nav .nav-links{
    padding: 2rem 1.2rem;
    font-size: 1rem;
    position: relative;
}
.navbar-expand-md .navbar-nav .nav-links:hover {
    border-top:5px solid #e74c3c;
}
.navbar-nav button{
    padding: 1.2rem 0;
}
.navbar-nav .btn-login{
    background-color: #e74c3c;
    color: white;
    border-radius: 50px 20px;
    padding: 1rem 1.5rem 1rem 1rem;
    font-size: 1rem;
}
.navbar-nav .btn-signup{
    background-color: #e74c3c;
    color: white;
    border-radius: 50px 20px;
    padding: 1rem 1.5rem 1rem 1rem;
    font-size: 1rem;
}
.navbar-nav .btn-login:hover{
    background-color: #0a3d62;
}
.navbar-nav .btn-signup:hover{
    background-color: #0a3d62;
}


/*--- Slider Css ---*/
.carousel-item{
    height: 100vh;
    min-width: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}

/*--- Footer Css ---*/
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
#tempaltemo_footer .bg-black { background-color:#1d242d !important;}
