{% extends 'base.html' %}
{% block title %}Matadan | Mr.Nepal{% endblock title %}
{% block body %}
<div class="container container-fluid" style="margin-top:80px; margin-bottom:80px">
    <div>
        <h1 class="text-dark mb-4"> Ongoing Events</h1>
    <!-- Event Cards-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="/contestants">
                <div class="card" style="width:200px">
                    <img class="card-img-top" src="static/img/roshan.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <a class="card-title fs-4 fb">Mister Nepal</a>
                        <p class="card-text">Male Beauty Pagent</p>
                        {% comment %} <button href="/eventdetail" class="btn btn-primary">Event Details</button> {% endcomment %}
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}