{% extends 'base.html' %}
{% block title %}|Matadan - How It Works|{% endblock title %}
{% block body %}
<div class="container container-fluid" style="margin-top:20px; margin-bottom:20px">
    <div class="row">
        <div class="col-4 text-start m-auto">
            <div class="mb-4">
                <h1>Step 1</h1>
            </div>
        </div>
        <div class="col-4 text-start m-auto">
            <div class="mb-4">
                <h1>Step 2</h1>
            </div>
        </div>
        <div class="col-4 text-start m-auto">
            <div class="mb-4">
                <h1>Step 3</h1>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-4 text-start m-auto">
            
            <p>
                Voters arrive at your branded voting website and authenticate their identity (how this works depends on the authentication method you selected in step 1). If authentication was successful, the voter will be presented with a list of any ongoing elections. If the voter hasn't yet voted, the voter may click on the election and a tamper-proof electronic ballot will appear. When the voter submits a ballot, the results are encrypted and kept anonymous. The voter is issued a receipt and is now blocked from voting for this election again.
            </p>
        </div>
        <div class="col-4 text-start m-auto">
           
            <p>
                Once voting has ended the results are immediately tabulated. You can view the results in the Election Manager along with various reports on voting activity before publishing them. Once published, the results are made available to the public on your voting website and anyone will be able to verify the results by downloading a file containing votes and receipt codes.
            </p>
        </div>
        <div class="col-4 text-start m-auto">
           
            <p>
                Using our easy-to-use Election Manager, you create an election specifying the dates, times, and questions. You choose a voter authentication method and upload a list of eligible voters. If you need help or are in a rush you contact our Rapid Support department and one of our representatives will hold your hand through the process (as a premium service, we can even take care of everything on your behalf!). Before voting begins you pay any applicable fees and optionally send out a mass-email.

            </p>
        </div>
    </div>
</div>
{% endblock body %}
