{% extends 'base.html' %}
{% block title %}Matadan | Home{% endblock title %}
{% block body %}

<!--  Slider     -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/image1.jpg" class="d-block w-100 h-80" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Matadan</h5>
        <p>Matadan is the easiest way to improve voter engagement, save time, create a better voter experience, and guarantee election integrity. Smart way to vote your favourite people.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/img/image4.jpg" class="d-block w-100 h-80" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Digitalize Everything</h5>
        <p>Clearly, the thing that’s transforming is not the technology — it’s the technology that is transforming you.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/img/image3.jpg" class="d-block w-100 h-80" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>E-Voting</h5>
        <p>"The entire process is really easy and saved us a ton of time. Our members loved the ability to vote from their phone."</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container container-fluid" style="margin-top:20px; margin-bottom:20px">
    <h2>Hello World</h2>

</div>

{% endblock body %}