{% extends 'dashboard/main.html' %}
{% block title %}Dashboard | Add Event{% endblock title %}
{% block body %}
    <div class="container">
        <div class="container-fluid">
            <form class="mb-4" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Add Event" class="btn btn-primary">
                <a href="/event" type="button" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock body %}