{% extends 'dashboard/main.html' %}
{% block title %}Dashboard | Contestants{% endblock title %}
{% block body %}

<!-- Table Content -->
<div class="container mb-5">
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Contestants</h3>
        <div class="card shadow">
            <div class="row">
                <div class="col-md-6 align-self-center m-4">
                    <p class="text-primary m-0 fw-bold">Contestants Table</p>
                </div>
                <div class="col-sm-5 m-2 d-lg-flex justify-content-lg-end">
                    <a href="/addcontestant" type="button" class="btn btn-outline-danger text-allign-center">Add Contestant</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                            <label class="form-label">Show&nbsp;
                                <select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                &nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                            <label class="form-label"><input id="myInput" onkeyup="myFunction()" type="text" class="form-control form-control-sm" placeholder="Search"></label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="myTable">
                        <thead>
                            <tr>
                                <th>Contestant Name</th>
                                <th>Age</th>
                                <th>Height</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for contestant in contestants %}
                        <tbody>
                            <tr>
                                <td>
                                    <img src="{{contestant.contestant_image.url}}" width="20">
                                    <strong>{{contestant.contestant_name}}</strong>
                                </td>
                                <td>{{contestant.contestant_age}}</td>
                                <td>{{contestant.contentant_height}}</td>
                                <td>
                                    <a href="{% url 'editcontestant' contestant.id %}" class="btn btn-outline-primary"><i class="fa fa-edit"></i> </a>
                                    |
                                    <a type="button"  href="{% url 'deletecontestant' contestant.id %}" class="btn btn-outline-danger"><i class="fa fa-trash" ></i></a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) 
      {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
</script>

{% endblock body %}


    
