<footer>
    <div class="w-100 bg-gradient-primary py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-light">
                        Copyright &copy; 2021 Matadan E-Voting 
                        | Designed by <a rel="sponsored" class="text-white" href="https://www.instagram.com/_roshan.stha/" target="_blank">Roshan Shrestha</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>