{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/icon.png' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css' %}">
</head>
<body id="page-top">
<div id="wrapper">

    {% include "dashboard/sidebar.html" %}
    {% include "dashboard/navbar.html" %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close bg-success bg-opacity-25" data-dismiss="alert" aria-label="Close" style="float:right;border:none;">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
            {% endif %}
        {% block body %}

        {% endblock body %}
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>    
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="{% static '/js/script.min.js' %}"></script>
</body>

</html>